body{
  width: 1280px;
  margin: 0 auto;
}
.header-menu {
  text-align: center;
  padding: 30px 330px;
}
.header-menu-item {
  display: inline-block;
  padding: 0 20px;
}
.header-menu-link {
  color: #FF0000;
  font-size:18px;
  font-weight:700;
  letter-spacing: 2.7px;
}
.photo{
  /*background-image: url(image1.jpg);*/
  margin-bottom: 48px;
}
.main-title {
  color: #373737;
  text-align: center;
  line-height: 26.82px;
  margin-bottom: 38px;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}
.paragraph {
  font-size: 16px;
  text-indent: 20px;
  text-align: center;
  line-height: 26px;
  margin: 0 67.5px 28px;
  letter-spacing: 2.4px;
}
.second{
  text-align: justify;
  text-align-last: center;
  margin-bottom: 66px;
}
.button {
  width: 191px;
  height: 50px;
  border-radius: 10px;
  border: #FF0000;
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto 106px;
  background-color: #FF0000;
  cursor: pointer;
}
.button-inside {
  font-size: 12px;
  letter-spacing: 1.8px;
  color: #FFFFFF;
}
.copyright{
  text-align: right;
  padding: 50px 105px 39px;
  line-height: 19px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2.4px;
}
